.blogs .blogs-container{
    width: 100%;
    background-color: var(--blue);
    padding: 2rem 0;
}
.blogs .content .blog-card{
    width: 30%;
    margin: 1rem 0;
    margin-right: auto;
    border: 4px solid var(--orange);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs .blog-card .blog-image {
    position: relative;
}
.blogs .blog-card .blog-image img{
    width: 100%;
}
.blogs .blog-card .blog-title{
    font-size: 1.25rem;
    font-weight: 900;
    color: white;
    text-transform: capitalize;
    width: 90%;
}
.blogs .blog-card .blog-description{
    width: 90%;
    padding: 1rem 0.25rem;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
    color: white;
}
.blogs .blog-card .blog-description .read-more{
    padding-left: 0.25rem;
    color: var(--orange);
}
.blogs .date{
    background-color: var(--orange);
    color: white;
    font-weight: 900;
    padding: 0.25rem;
    position: absolute;
    right: 0.25rem;
    bottom: -1rem;
}

@media screen and (max-width: 650px){
    .blogs .content .blog-card{
        width: 65%;
        margin: 1rem 0;
    }
}